<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Youtube by Dustin </span>
    <span class-="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>video_call</mat-icon>

    </button>
    <div *ngIf="isUserLoggedIn; else noAuth">
      <!--      <a routerLink="/upload-video" mat-icon-button>-->
      <!--      </a>-->
      <mat-icon>account_circle</mat-icon>

    </div>

    <ng-template #noAuth>

      <button mat-raised-button (click)="login()">
        Login
      </button>
    </ng-template>

    <!--    <a *ngIf="!isUserLoggedIn" (click)="login()" class="logo">Login</a>-->

  </mat-toolbar-row>

</mat-toolbar>
